@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


body, div, p, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, input, label {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #55aa55;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

a {
  text-decoration: none;
}

article main a, .webmention-container a {
  color: #a81127; /*f44336*/
}
article main a:hover {
  background-color: #a81127;
  color: #fff;
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;
}

a img:hover {
  opacity: 0.85;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
}

h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 23pt;
}

h2 {
  font-weight: bold;
  font-size: 20pt;
}

h3 {
  font-weight: bold;
  font-size: 16pt;
}

h4 {
  font-size: 16pt;
}

hr {
  width: 70%;
  margin: auto;
  border-color: grey;
  border-width: 1px;
}

p, ul, ol, dl {
  margin-bottom: 15px;
}
ul, ol {
  margin-left: 18px;
}
ul {
  list-style-type: square;
}

dt {
  font-weight: bold;
  margin: 8px 0 3px 0;
}

dt.dim, dt.dim + dd {
  color: #777;
  font-size: 90%;
}
dt.dim {
  margin-top: 6px;
}
dt.dim + dd, dt.dim + dd + dt.dim {
  margin-top: 3px;
}

.entry-content img {
  max-width: 100%;
}
.entry-content a img {
  max-width: 400px;
  margin: 0 8px 8px 0;
}
.entry-content a img.fullwidth {
  max-width: 100%;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #a81127;
}

::selection {
    color: white;
    background: #a81127;
}

nav {
  font-size: 14pt;
  text-align: right;
}

nav ul {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

nav ul li {
      text-transform: uppercase;
      list-style: none;
      padding-left: 25px;
      padding-right: 25px;
      white-space:nowrap;
}

nav ul li.active {
  border-color: #a81127;
}

img.avatar {
  width: 150px;
  max-width: 60%;
  margin: 0 50px;
  vertical-align: middle;
}

ul.social {
  white-space:nowrap;
}

ul.social li {
  display: inline-block;
  padding: 0 15px;
  font-size: 20pt;
}

ul.social li a:hover {
  opacity: 0.7;
}

.col-main {
  margin: auto;
  width: 100%;
  max-width: 1100px;
}

.adjust-width {
  margin: 0 -16px;
}

article.w3-container {
  font-size: 13.5pt;
  padding-bottom: 20px;
}

main {
  line-height: 1.7;
}

main > p:first-of-type::first-letter {
  font-size: 36pt;
  font-weight: bold;
  font-family: serif;
  line-height: 1;
}

main blockquote {
  border-left:6px solid;
  border-color: black;
  padding-left: 16px;
}

main div.highlight {
  max-height: 600px;
  font-size: 11pt;
  background-color:#f1f1f1;
  overflow: scroll;
  margin: 20px 0px;
}

main pre {
  margin: 0;
  padding: 12px;
  font-size: 12pt;
  background-color: #f1f1f1;
}

main p.content-highlight {
  color: #a81127;
  font-size: 18pt;
  text-align: right;
  font-style: italic;
  width: 50%;
  float: right;
}

.blockintextlinks
{
  margin: 0px 12px 6px 0px;
  float:left;
}
.blockintextrechts
{
  margin: 0px 0px 6px 12px;
  float:right;
}
.blockintext, .picasaimg, .f2g_pic, .f2g_img
{
  margin: 0px 6px 6px 6px;
}
.blockintextlinks, .blockintextrechts, .blockintext {
  max-width: 400px;
  max-height: 400px;
}

.caption {
  text-align: center;
  font-size: 10pt;
  font-style: italic;
  color: grey;
  margin-bottom: 30px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  margin: 40px 0 10px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blogroll-block {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
}

.empty {
  height: 20px;
}

div#blogroll ul {
  margin: 0;
  padding-left: 15px;
}

div#blogroll ul li {
  list-style: none;
}

/* Scale figures below the width of the text column and center them */
div.figure object {
    width: 80%;
    margin-left: 10%;
}

#contentinfo {
  width: 100%;
  height: auto;
  font-size: 11pt;
}

#blogroll {
    background-color: #272727;
    color: white;
}

#contact {
  background-color: #272727;
  color: white;
  text-align: right;
  padding-right: 50px;
  padding-bottom: 10px;
}

div#contact ul {
  display: inline-flex;
}

div#contact ul li {
  padding: 0 10px;
  list-style: none;
}

#copyright {
  background-color: #0F0F0F;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 13pt;
}

.headerimage-article {
  margin: auto;
  max-width: 1100px;
}

.headerimage-card {
  margin: 0 -16px;
}

.headerimage-card > img {
  max-width: 100%;
}


#banner {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 1100px;
}

#logo {
  width: 60px;
  min-width: 60px; /* no resizing! */
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 18pt;
  font-weight: bold;
}

#logo:hover {
  opacity: 0.85;
}

#content-title-tag {
  color: #a81127;
  font-size: 36pt;
}

#content-title-category {
  font-family: serif;
  font-size: 7vw;
  line-height: 30vw;
}

#content-title-category-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vw;
}

#sitename {
  font-family: 'Open Sans', sans-serif;
  font-size: 40pt;
}

#sitedescription {
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  color: #a81127;
}


#introduction {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

#searchresults-header {
  padding: 30px 0 30px 16px;
  line-height:1.1;
}

#tagcloud {
  height: 400px;
}

#author-block {
  /*height: auto;*/
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#author-info {
  display: flex;
  margin-left: 37px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 80%;
}

#author-name {
  font-weight: bold;
  font-size: 14pt;
}

#author-story {
  font-size: 11pt;
  font-style: italic;
}

/* Webmentions */
.webmention-author, .webmention-summary, .webmention-published {
  display: inline;
}
.webmention-author:after, .webmention-summary:after {
  content: " ";
}
.webmention-author img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 6px;
}

.in-post-gallery label {
  padding: 8px;
  float: left;
  max-height:400px;
  max-width:400px;
}

.in-post-gallery label img {
  max-width: 100%;
  max-height: 100%;
}


/* For Screens larger than 530px, do not use responsive font-sizes */
@media screen and (min-width: 530px) {

  nav ul {
      flex-direction: row;
  }

  article {
    font-size: 15pt;
  }

  h1 {
    font-size: 26pt;
  }

  main p.content-highlight {
    font-size: 24pt;
  }

  .adjust-width {
    margin: 0;
  }

  #content-title-category {
    font-size: 40pt;
    line-height: 384px;
  }

  #content-title-tag {
    font-size: 48pt;
  }

  #content-title-category-img {
    height: 384px;
  }

}
